<header class="flex items-center flex-col flex-wrap pb-10">
  <a href="/" class="uppercase font-futura font-bold text-3xl hover:text-pink-400 text-center leading-none">Helen
    <span class="whitespace-nowrap sm:whitespace-normal">
      Vander Wende
    </span>
  </a>
  {% set navPages = collections.all | eleventyNavigation %}
  <nav class="pt-2.5">
    <ul>
      {% for entry in navPages %}
        <li class="inline">
          <a href="{{ entry.url }}" class="uppercase font-futura text-sm px-2 inline-block hover:text-pink-400 tracking-wider text-neutral-600">
            {{ entry.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
