---
metadata:
  title: "Helen Vander Wende"
  desc: "A website for Helen Vander Wende."
  name: "Helen Vander Wende"
  image: "/public/images/selfie.jpg"
  twitter_card_type: "summary_large_image"
  twitter_handle: "helenmvw"
---

<!doctype html>
<html lang="en">
  <head>
    {% metagen metadata %} <link rel="shortcut icon" type="image/x-icon" href="/public/favicon.ico">
    <link rel="stylesheet" href="https://use.typekit.net/uvl8ons.css">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/public/css/photoswipe.css"/>
  </head>
  <body>
    <main class="p-5 sm:p-[75px] max-w-6xl mx-auto">
      {% include "../components/navigation.njk" %}
      {{ content | safe }}
    </main>
  </body>
</html>
