---
title: About
layout: layouts/base.njk
eleventyNavigation:
  key: About
  order: 4
  url: /about
permalink: /about/index.html
---

<div class="flex">
  <div class="inline">
    <img width="480px" height="480px" src="/assets/selfie.jpeg" alt="Helen Vander Wende" class="profile"/>
  </div>
  <div class="inline ml-6 text-neutral-600">
    <h1 class="pb-4 uppercase text-xl">About</h1>
    <p class="pb-4">Helen Vander Wende, PhD</p>
    <p class="pb-4">I’m currently a postdoctoral researcher studying RNA biology in the Floor Lab at UCSF. Outside of lab, I
      love to draw and paint.</p>
    <p>Instagram:
      <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/hmvw_art">@hmvw_art</a>
    </p>
  </div>
</div>
