---
title: About
layout: layouts/base.njk
eleventyNavigation:
  key: About
  order: 4
  url: /about
permalink: /about.html
---

<div class="flex mx-auto flex-col sm:flex-row">
  <div class="inline">
    <img width="600px" height="600px" src="/assets/selfie.jpeg" alt="Helen Vander Wende" class="mx-auto"/>
  </div>
  <div class="sm:max-w-[480px] inline mt-8  sm:mt-0 sm:ml-8 text-neutral-600 font-light">
    <h1 class="font-futura text-2xl pb-4 uppercase">About</h1>
    <p class="pb-4">Helen Vander Wende, PhD</p>
    <p class="pb-4">I’m currently a postdoctoral researcher studying RNA biology in the Floor Lab at UCSF. Outside of lab, I
      love to draw and paint.</p>
    <p>Instagram:
      <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/hmvw_art">@hmvw_art</a>
    </p>
  </div>
</div>
