---
title: Digital
layout: layouts/base.njk
eleventyNavigation:
  key: Digital
  order: 3
  url: /digital
permalink: /digital/index.html
---

<div>
  {% for entry in collections.digitalImages %}
    <img src="{{ entry.url }}" alt="{{ entry.alt }}"/>
  {% endfor %}
</div>
