---
title: Digital
layout: layouts/base.njk
eleventyNavigation:
  key: Digital
  order: 3
  url: /digital
permalink: /digital.html
---

{% gallery "digital" %}
{% for item in collections.images.digital %}
  {% galleryImage item %}
{% endfor %}
{% endgallery %}
