---
layout: layouts/base.njk
eleventyNavigation:
  key: Digital
  order: 3
  url: /digital
metadata:
  title: Digital
  description: Digital - Helen Vander Wende
  url: https://helenvanderwende.com/digital
permalink: /digital.html
---

{% gallery "digital" %}
{% for item in collections.images.digital %}
  {% galleryImage item %}
{% endfor %}
{% endgallery %}
