---
layout: layouts/base.njk
eleventyNavigation:
  key: Drawings
  order: 1
  url: /drawings
metadata:
  title: Drawings
  description: Drawings - Helen Vander Wende
  url: https://helenvanderwende.com/about
permalink: /drawings.html
---

{% gallery "drawings" %}
{% for item in collections.images.drawings %}
  {% galleryImage item %}
{% endfor %}
{% endgallery %}
