---
title: Drawings
layout: layouts/base.njk
eleventyNavigation:
  key: Drawings
  order: 1
  url: /drawings
permalink: /drawings.html
---

{% gallery "drawings" %}
{% for item in collections.drawingImages %}
  {% galleryImage item.url, item.alt %}
{% endfor %}
{% endgallery %}
