---
title: Drawings
layout: layouts/base.njk
eleventyNavigation:
  key: Drawings
  order: 1
  url: /drawings
permalink: /drawings.html
---

<div class="grid grid-cols-3 gap-5">
  {% for item in collections.drawingImages %}
    <div class="relative">
      <img src="{{ item.url }}" alt="{{ item.alt }}" class="object-cover w-[350px] h-[350px]"/>
    </div>
  {% endfor %}
</div>
