---
title: Paintings
layout: layouts/base.njk
eleventyNavigation:
  key: Paintings
  order: 2
  url: /paintings
permalink: /paintings.html
---

{% gallery "paintings" %}
{% for item in collections.images.paintings %}
  {% galleryImage item %}
{% endfor %}
{% endgallery %}
