---
title: Paintings
layout: layouts/base.njk
eleventyNavigation:
  key: Paintings
  order: 2
  url: /paintings
permalink: /paintings.html
---

<div class="grid sm:grid-cols-3 gap-5">
  {% for item in collections.paintingImages %}
    <img src="{{ item.url }}" alt="{{ item.alt }}" class="aspect-square object-cover"/>
  {% endfor %}
</div>
