---
title: Home
layout: layouts/base.njk
data:
  - src: /public/images/radishes.jpg
    title: Drawings
    url: /drawings
  - src: /public/images/thebay.jpg
    title: Paintings
    url: /paintings
  - src: /public/images/flowers.jpg
    title: Digital
    url: /digital
---

<div class="grid sm:grid-cols-3 gap-5">
  {% for item in data %}
    <a href="{{ item.url }}" class="block">
      <div class="relative">
        <img src="{{ item.src }}" alt="{{ item.title }}" class="aspect-square object-cover"/>
        <p class="text-center pt-2">{{ item.title }}</p>
      </div>
    </a>
  {% endfor %}
</div>
{# for photogallery #}
<div class="gallery grid min-[380px]:grid-cols-2 sm:grid-cols-3 gap-5"></div>
